.override {
    bottom: 10%
}

.fs-cus {
    font-size: 65px;
}

.w-cus {
    max-width: 671px;
}

.w-fit {
    width: fit-content;
}

.h-700 {
    height: 700px;
}

.w-200px {
    width: 200px;
}

.w-t {

    max-width: 734px;
}

.i-t {
    height: 100%;
    width: 100%;
}

.p-cus-spcl {
    padding: 80px 100px;
}